<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018 ACINO Consortium
  ~
  ~ This program is free software: you can redistribute it and/or modify it under
  ~ the Free Software Foundation License (version 3, or any later version).
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="consoleAppender"
              class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p %t %r] %l %m%n"/>
        </layout>
    </appender>

    <appender name="fileAppender"
              class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="File" value="sample.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d%-5p  [%c{1}] %m %n"/>
        </layout>
    </appender>

    <logger name="javabeat.net.log4j" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </logger>
    <logger name="es.upct.girtel.net2plan.plugins.onos.ONOSPlugin" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </logger>
    <logger name="com.wpl.xrapc.XrapPeer" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </logger>
    <logger name="com.wpl.xrapc" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </logger>
    <logger name="org.reflections" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </logger>

</log4j:configuration>